.add{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.btn{
    display: grid;
    place-items: center;
    background-color: rgba(46, 40, 40, 0.952);
    color: #FFF;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
    &:disabled{
        background: lightgray;
        border: none;
        pointer-events: none;
    }
}
.operate{
    display: flex;
    justify-content: space-between;
    
}
.table{
    margin: 20px 0;
    width: 100%;
    border: 2px solid #FFF;
    border-collapse: collapse;
    th{
        border: 1px solid #FFF;
        padding: 10px;
    }
    td{
        padding: 10px;
        border: 1px solid #FFF;
    }
}